.room {
  outline: 3px black solid;
  outline-offset: -3px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 250px;
  height: 250px;
}
.room-name {
  position: absolute;
  bottom:15px;
  right:15px;
  font-size: 25px;
  font-family: Arial;
  font-style: italic;
}
.working-room {
  background: LightCyan;
}
.lunch-room {
  background: LightYellow;
}
.person {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  margin-top: 10px;
}
.eat {
  border-radius: 50%;
  background: PeachPuff;
  color: black;
}
.work {
  border-radius: 0%;
  background: MidnightBlue ;
  color: white;
}
.team-a {
  border-radius: 50%;
}
.team-b {
  border-radius: 0%;
}
.door-vert {
  width: 6px;
  height: 70px;
  background: white;
  display: flex;
}
.door-horiz {
  width: 70px;
  height: 6px;
  background: white;
  display: flex;
}
.passing {
  outline: 5px solid green;
}
.rejected {
  outline: 5px solid red;
}
.selected {
  outline: 5px solid blue;
}
#info {
  font-size: 25px;
  font-family: Arial;
  position: absolute;
  top:760px;
  left:550px;
}
